:root {
  --LigthBlue: rgb(5, 104, 190);
  --White: rgb(228, 222, 216);
  --Dark: rgb(27, 26, 26);
  --DarkBlue: rgb(16, 16, 149);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.BodyPage {
  background-color: var(--Dark);
  color: var(--White);
  height: 100%;
  justify-content: center;
}
.BodyAlter {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  grid-template-areas: 
  "box-1 box-2"
  "box-3 box-6"
  "box-4 box-5";
  padding: 20px;
}
.TitreAlter {
  display: flex;
  background-image: url('../../../Img/ImageAlter/entretien-au-cafe_1098-13331.avif');
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 15px;
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  z-index: -1;
}
.containerTitre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
}
.containerTitre::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--White);
  opacity: 0.5;
  filter: blur(2px);
  border-radius: 15px;
  z-index: 0;
}
.containerTitre h1 {
  display: flex;
  font-size: 60px;
  color: var(--Dark);
  justify-content: center;
  text-align: center;
  z-index: 1;
  position: relative;
  padding: 5px;
}
h2{
  padding: 10px 0;
}
.conclusionAlter {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.conclusionAlter.animate{
  animation: slideInFromBottom 1s forwards;
}
.LienAlter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.LienAlter a {
  color: var(--White);
  text-decoration: none;
  font-size: 20px;
  border: 1px solid var(--White);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: var(--LigthBlue);
}
.LienAlter a:hover {
  background-color: var(--White);
  color: var(--Dark);
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.resumeAlter {
  opacity: 0;
  grid-area: box-1;
  transition: opacity 0.5s ease-out;   
}
.resumeAlter.animate{
  animation: slideInFromLeft 1s forwards;
}
.objectifAlter{
  opacity: 0;
  grid-area: box-2;
  transition: opacity 0.5s ease-out;  
}
.objectifAlter.animate{
  animation: slideInFromRight 1s forwards;
}
.technologiesAlter{
  opacity: 0;
  grid-area: box-3;
  transition: opacity 0.5s ease-out;  
}
.technologiesAlter.animate{
  animation: slideInFromLeft 1s forwards;
}
.fonctionnementAlter{
  opacity: 0;
  grid-area: box-4;
  transition: opacity 0.5s ease-out;  
}
.fonctionnementAlter.animate{
  animation: slideInFromLeft 1s forwards;
}
.fonctionnement2Alter{
  opacity: 0;
  grid-area: box-5;
  transition: opacity 0.5s ease-out;  
}
.fonctionnement2Alter.animate{
  animation: slideInFromRight 1s forwards;
}
.imageAlter{
  display: flex;
  grid-area: box-6;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}
.imageAlter.animate{
  animation: slideInFromRight 1s forwards;
  animation-delay: 0.5s; 
}
.imageAlter img{
  width: 70%;
  height: 80%;
  box-shadow: 5px 5px 10px var(--LigthBlue), -5px -5px 10px var(--LigthBlue);
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1) rotate(0deg);
}
.imageAlter:hover img{
  transform: scale(1.1) rotate(15deg);
  transition: transform 0.3s ease;
}