:root {
  --LigthBlue: rgb(5, 104, 190);
  --White: rgb(228, 222, 216);
  --Dark: rgb(27, 26, 26);
}
.headerContainer {
  width: 100%;
  background-color: var(--Dark);
  z-index: 10;
}
.header {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Dark);
}
.headerContent {
  display: flex;
  align-items: flex-end;
  background-color: var(--Dark);
}
.logoHeader {
  width: 70px;
  background-color: transparent
}
.navigation {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: var(--Dark);
}
.header h3 {
  background-color: var(--Dark);
  color : var(--White);
}